<section>
  <div class="container">
    <div class="row">
      <div class="col text-end">
        <a href="/admin/addproducts" class="btn btn-success mt-3">Add Products</a>
      </div>
    </div>

    {{#if deleteMessage}}
      <p class="text-danger text-center mt-3">{{deleteMessage}}</p>
    {{/if}}

    <h2 class="text-center text-success mt-4">Admin - All Products</h2>

    {{#if products.length}}
      <div class="table-responsive mt-4">
        <table class="table table-dark table-striped border-success">
          <thead class="table-success text-black">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Image</th>
              <th scope="col">Show</th>
              <th scope="col">Modify</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{this.name}}</td>
              <td>{{this.category}}</td>
              <td>{{this.price}}</td>
              <td>{{this.quantity}}</td>
              <td>
                {{#if this.imagePath}}
                  <img src="{{this.imagePath}}" class="img-fluid" style="max-width: 100px; border: 2px solid #28a745;" alt="Product Image" />
                {{else}}
                  <span>No Image</span>
                {{/if}}
              </td>
              <td>
                <a href="/admin/toggle-show/{{this._id}}">
                  <button class="btn {{#if this.isShown}}btn-success{{else}}btn-warning{{/if}}">
                    {{#if this.isShown}}Shown{{else}}Unshown{{/if}}
                  </button>
                </a>
              </td>
              <td>
                <a href="/admin/edit-product/{{this._id}}" class="btn btn-success">Edit</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <p class="text-center text-warning mt-5">No products available. <a href="/admin/addproducts" class="text-success">Add some products</a></p>
    {{/if}}
  </div>
</section>

<style>
  body {
    background-color: #000;
    color: #fff;
  }

  .btn-success {
    background-color: #28a745;
    color: white;
    border: none;
  }

  .btn-success:hover {
    background-color: #218838;
  }

  .btn-warning {
    background-color: #ffc107;
    color: black;
  }

  .table {
    background-color: #111;
  }

  .table-dark th, .table-dark td {
    color: white;
  }

  .table-success {
    background-color: #28a745;
    color: black;
  }

  .text-success {
    color: #28a745 !important;
  }

  a {
    text-decoration: none !important;
    color: inherit;
  }
</style>
